.bg-home{
    background-image: url(../../assets/new-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-position: center
}
 
